<app-input-fields *ngIf="isAuthenticated && isAdmin" (races)="recieveRace($event)"></app-input-fields>
<div [ngClass]="{'userLoggedIn' : isAuthenticated}" class="table-container">
    <h1>Races</h1>
    <div class="search-container">
                <input
                  type="text"
                  [(ngModel)]="searchTerm"
                  (ngModelChange)="onSearchChange($event)"
                  placeholder="Keresés helyszín alapján…"
                  class="search-input"/>
    </div>
    <table *ngIf="races && races.length; else noUsersTemplate">
        <thead>
            <tr>
                <th style="width: 15%;">TrackName</th>
                <th>Location</th>
                <th style="width: 10%;">Date</th>
                <th style="width: 10%;" *ngIf="isAdmin">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let race of races">

                <td *ngIf="!isEditMode">{{race.trackName}}</td>
                <td *ngIf="isEditMode && race._id !== selectedRaceToEdit">{{race.trackName}}</td>
                <td *ngIf="isEditMode && race._id === selectedRaceToEdit"><input [(ngModel)]="editedTrackName" name="editedTrackName" type="text"></td>

                <td *ngIf="!isEditMode" class="links" (click)="navigate(race._id)"><a>{{race.locationName}}</a></td>
                <td *ngIf="isEditMode && race._id !== selectedRaceToEdit">{{race.locationName}}</td>
                <td *ngIf="isEditMode && race._id === selectedRaceToEdit"><input [(ngModel)]="editedLocationName" name="editedLocationName" type="text"></td>
                
                <td style="text-align: center;">{{ race.date | date: 'yyyy.MM.dd HH:mm' }}</td>
                
                <td *ngIf="isAdmin">
                    <div class="actions">
                        <button *ngIf="!isEditMode" (click)="editModeToggle(race._id)" class="buttons edit-button"><mat-icon svgIcon="pencil"></mat-icon></button>
                        <button *ngIf="!isEditMode" (click)="deleteRace(race._id)" class="buttons"><mat-icon svgIcon="trash"></mat-icon></button>
                        <button *ngIf="isEditMode && race._id !== selectedRaceToEdit" (click)="editModeOff()" class="buttons edit-button disable"><mat-icon svgIcon="pencil"></mat-icon></button>
                        <button *ngIf="isEditMode && race._id !== selectedRaceToEdit" (click)="editModeOff()" class="buttons disable"><mat-icon svgIcon="trash"></mat-icon></button>
                        <button *ngIf="isEditMode && race._id === selectedRaceToEdit" (click)="editRace(race._id)" class="buttons check-button"><mat-icon svgIcon="check"></mat-icon></button>
                        <button *ngIf="isEditMode && race._id === selectedRaceToEdit" (click)="editModeToggle(race._id)" class="buttons"><mat-icon svgIcon="cancel"></mat-icon></button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<ng-template #noUsersTemplate>
    <div class="no-data-container">
      <mat-card class="no-data-card" appearance="outlined">
        <mat-card-content>
          <p>🚧 No races available 🚧</p>
        </mat-card-content>
      </mat-card>
    </div>
  </ng-template>