<div class="table-container">
    <table class="race-table">
        <tbody>
            <tr>
                <div class="card-container">
                    <mat-card>
                        <mat-card-header><h3>{{races?.trackName}}</h3></mat-card-header>
                        <mat-card-content><h2>{{races?.locationName}}</h2></mat-card-content>

                        <div *ngIf="currentUser?.isAdmin" class="wiki-input">
                            <mat-card-content>
                                <span>Wikipedia URL</span>
                                <textarea name="wikilink" id="wikilink" rows="1" [(ngModel)]="wikipediaUrl" style="width: 700px;"></textarea>
                            </mat-card-content>
                            <mat-card-actions><button type="submit" (click)="loadWikipedia()">Load Results</button></mat-card-actions>
                          </div>

                        <mat-card-actions *ngIf="currentUser">
                            <mat-icon *ngIf="!races?.usersLikesRaces || !hasUserLikedRaces(races!)" (click)="likeRace(races!._id)" svgIcon="empty_heart"></mat-icon>
                            <mat-icon *ngIf="!races?.usersLikesRaces || hasUserLikedRaces(races!)" (click)="dislikeRace(races!._id)" svgIcon="full_heart"></mat-icon>
                        </mat-card-actions>
                        <mat-card-footer>
                            <hr>
                            <div>
                                <span>{{races?.date | date: 'yyyy.MM.dd' }}</span>
                                <span  *ngIf="hasUserLikedRaces(races!)">You <span *ngIf="races!.usersLikesRaces.length > 1">and {{races!.usersLikesRaces.length - 1}} </span>liked this</span>
                                <span  *ngIf="!hasUserLikedRaces(races!)"><span *ngIf="races!.usersLikesRaces.length > 0">{{races!.usersLikesRaces.length}} liked this</span></span>
                            </div>
                        </mat-card-footer>
                    </mat-card>
                </div>
            </tr>
        </tbody>
    </table>

    <div style="margin:1em 0;"></div>

    <!-- Wikipedia eredmények megjelenítése -->
    <div *ngIf="wikiResults?.length; else noDataTemplate"
     class="wiki-results">
        <h3>Race Result</h3>

        <table class="results-table">
          <thead>
            <tr>
              <th>Pos</th>
              <th>Driver</th>
              <th>Team</th>
              <th>Time</th>
              <th>Laps</th>
            </tr>
          </thead>
      
          <tbody>
            <tr *ngFor="let row of wikiResults">
              <td>{{ row.position }}</td>
              <td>{{ row.driver   }}</td>
              <td>{{ row.team     }}</td>
              <td>{{ row.time     }}</td>
              <td>{{ row.laps     }}</td>
            </tr>
          </tbody>
        </table>
    </div>

    <table class="comments-table">
        <tbody *ngIf="comments && comments.length > 0; else noCommentsTemplate">
            <tr *ngFor="let comment of comments; let i = index">
                <td>
                    <div class="card-container">
                        <mat-card>
                            <mat-card-header [ngClass]="{'my-comment': comment.author === currentUser?.email}">{{ i + 1 }}/{{ comments!.length }} Reply from <div *ngIf="comment.author === currentUser?.email">&nbsp;you (</div>{{comment.author}}<div *ngIf="comment.author === currentUser?.email">)</div>:</mat-card-header>
                            <mat-card-content>
                                <span *ngIf="!editMode" [innerHTML]="comment.comment"></span>
                                <span *ngIf="editMode && comment._id !== selectedCommentToEdit" [innerHTML]="comment.comment"></span>
                                <textarea *ngIf="editMode && comment._id === selectedCommentToEdit" name="comment" id="comment" rows="5" [(ngModel)]="editedComment"></textarea>
                            </mat-card-content>
                            <mat-card-actions *ngIf="currentUser">
                                <div>
                                    <mat-icon (click)="editModeToggle(comment._id)" *ngIf="!editMode && (currentUser?.email === comment.author || currentUser?.isAdmin)" svgIcon="pencil"></mat-icon>
                                    <mat-icon (click)="editComment(comment._id)" *ngIf="editMode && comment._id === selectedCommentToEdit" svgIcon="check" class="check"></mat-icon>
                                    <mat-icon (click)="editModeToggle(comment._id)" *ngIf="editMode && comment._id === selectedCommentToEdit" svgIcon="cancel" class="cancel"></mat-icon>
                                    <mat-icon (click)="deleteComment(comment._id)" svgIcon="trash" id="delete-icon" *ngIf="currentUser?.email === comment.author || currentUser?.isAdmin"></mat-icon>
                                </div>
                            </mat-card-actions>
                            <mat-card-footer>
                                <hr>
                                <div>
                                    <span>{{comment.timestamp | date: 'yyyy.MM.dd HH:mm' }}</span>
                                    <!--<span  *ngIf="!hasUserLikedComment(comment) && comment.usersLikesComment.length > 0">{{comment.usersLikesComment.length}} liked this</span>
                                    <span  *ngIf="hasUserLikedComment(comment)">You <span *ngIf="comment.usersLikesComment.length > 1">and {{comment.usersLikesComment.length - 1}} </span>liked this</span>
                                -->    </div>
                            </mat-card-footer>
                        </mat-card>
                    </div>
                </td>
            </tr>
            <tr *ngIf="!currentUser">
                <td colspan="3" style="box-shadow: none;">
                    <div class="no-data">
                        <p style="text-align: center;">If you'd like to post a comment, please <span class="navigate" (click)="navigate('/login/' + races!._id)">log in</span>.</p>
                    </div>
                </td>
            </tr>
            <tr *ngIf="currentUser">
                <td>
                    <div class="card-container new-comment">
                        <mat-card>
                            <mat-card-header>New comment</mat-card-header>
                            <mat-card-content>
                                <!--<input type="text" placeholder="What's in your mind?">-->
                                <textarea name="comment" id="comment" rows="5" [(ngModel)]="commentText"></textarea>
                                <span *ngIf="scriptTagInComment" class="script-detected">Bro, we don't do that here.</span>
                            </mat-card-content>
                            <mat-card-actions><button type="submit" (click)="addComment()">Submit</button></mat-card-actions>
                        </mat-card>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<ng-template #noDataTemplate>
  <div class="no-data-container">
    <mat-card class="no-data-card" appearance="outlined">
      <mat-card-content>
        <p>🚧 No race result available 🚧</p>
      </mat-card-content>
    </mat-card>
  </div>
</ng-template>

<ng-template #noCommentsTemplate>
    <tr>
    <td colspan="3" style="box-shadow:none;">
      <div class="no-data-container">
        <mat-card class="no-data-card" appearance="outlined">
          <mat-card-content>
            <p>🚧 No comments available 🚧</p>
          </mat-card-content>
        </mat-card>
      </div>
    </td>
  </tr>
    <tr *ngIf="!currentUser">
        <td colspan="3" style="box-shadow: none;">
            <div class="no-data">
                <p style="text-align: center;">If you'd like to post a comment, please <span class="navigate" (click)="navigate('/login/' + races!._id)">log in</span>.</p>
            </div>
        </td>
    </tr>
    <tr *ngIf="currentUser">
        <td>
            <div class="card-container new-comment">
                <mat-card>
                    <mat-card-header>New comment</mat-card-header>
                    <mat-card-content>
                        <!--<input type="text" placeholder="What's in your mind?">-->
                        <textarea name="comment" id="comment" rows="5" [(ngModel)]="commentText"></textarea>
                        <span *ngIf="scriptTagInComment" class="script-detected">Bro, we don't do that here.</span>
                    </mat-card-content>
                    <mat-card-actions><button type="submit" (click)="addComment()">Submit</button></mat-card-actions>
                </mat-card>
            </div>
        </td>
    </tr>
</ng-template>