.driver-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
}

.driver-form {
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 600px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    gap: 10px;
}

.driver-form input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
}

.driver-form .buttons {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.driver-form button {
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: cornflowerblue;
    width: 100%;
    color: white;
    padding: 10px;
}

.driver-form button:hover {
    background-color: rgb(73, 106, 169);
}