<div class="navbar">
    <div class="left-side">
        <img src="assets/f1_logo_header.png" alt="Logo" class="logo" />
    </div>
    <div class="right-side">
        <div class="buttons">
            <button (click)="navigate('/races')">Races</button>
            <button (click)="navigate('/drivers')">Drivers</button>
            <button (click)="navigate('/user-management')" *ngIf="isAuthenticated && isAdmin">User Management</button>
            
            <button (click)="navigate('/login')" *ngIf="!isAuthenticated">Login</button>
            <button (click)="navigate('/register')" *ngIf="!isAuthenticated">Register</button>
            <button (click)="logout()" *ngIf="isAuthenticated" type="reset">Log out</button>
        </div>
    </div>
</div>